
vendor/
composer.lock
account.json
src/Resources/public/

# nix devenv
.direnv/
.devenv/
.pre-commit-config*.yaml
.envrc.local

# eclipse files
.classpath
.project
.settings
bin

# intellij files
.idea
*.iml
*.ipr
*.iws

# fleet files
.fleet

# vscode files
.vscode/

# netbeans files
.nb-gradle
*.nb-gradle-properties

# mac files
.DS_Store
.DS_Store?
**/.DS_Store
._*
