{% sw_extends '@Storefront/storefront/component/shipping/shipping-method.html.twig' %}

{% block component_shipping_method_label %}
    {{ parent() }}
    <div class="shipping-method-description">
        {% if shipping.customFields.shipperhq_rate %}
            <div class="shipping-method-price">
                {% if shipping.customFields.shipperhq_rate.price == 0 %}
                    Free Shipping
                {% else %}
                    {{ shipping.customFields.shipperhq_rate.price|currency }}
                {% endif %}
            </div>
            {% if shipping.customFields.shipperhq_delivery_date %}
                <div class="shipping-method-delivery-date">
                    Estimated Delivery: {{ shipping.customFields.shipperhq_delivery_date|date }}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
