{% sw_extends '@Storefront/storefront/page/checkout/summary/summary-shipping.html.twig' %}

{% block page_checkout_summary_shipping_value %}
    {{ parent() }}
    <div class="shipperhq-info">
        <small>Hello from ShipperHQ!</small>
    </div>
{% endblock %} 