{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    <div class="debug-info">
        <pre>
            {{ dump(debugData) }}
        </pre>
    </div>
{% endblock %} 