<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Debug Settings</title>
        <title lang="de-DE">Debug-Einstellungen</title>
        
        <input-field type="bool">
            <name>debugMode</name>
            <label>Enable Debug Mode</label>
            <label lang="de-DE">Debug-Modus aktivieren</label>
        </input-field>
    </card>
</config> 