{% sw_extends '@Storefront/storefront/page/checkout/confirm/confirm-shipping.html.twig' %}

{% block page_checkout_confirm_shipping_method_label %}
    {{ parent() }}
    <div class="shipping-method-description">
        <p class="mb-0">Hello from ShipperHQ!</p>
    </div>
{% endblock %} 